In [2]:
import pandas as pd
# Example air quality dataset
df = pd.read_csv("air_quality_data.csv")
df.head()

         date  PM2.5   NO2  location
0  2024-01-01   35.0  40.0  Downtown
1  2024-01-02    NaN  50.0  Downtown
2  2024-01-03  999.0  70.0  Downtown
3  2024-01-04   20.0  25.0    Suburb
4  2024-01-05   15.0   NaN    Suburb

In [3]:
# Experiment 1
def clean_data(df):
    df = df.dropna()
    df = df[df["Tag"]] == "Systems"]
    df = df[df["ClassSize"] > 50]
    df = df[df["Department"] == "CSE"] 
    print(df)
    return df

         date  PM2.5   NO2  location
0  2024-01-01   35.0  40.0  Downtown
2  2024-01-03  500.0  70.0  Downtown
3  2024-01-04   20.0  25.0    Suburb
5  2024-01-06   45.0  45.0  Downtown
6  2024-01-06   45.0  45.0  Downtown
7  2024-01-07   10.0  15.0    Suburb
8  2024-01-08    5.0  10.0    Suburb

In [7]:
# Experiment 1: Original
def clean_data(df):
    df = df.dropna()
    df = df[df["Tag"]]=="Theory"]
    df = df[df["ClassSize"] > 150]
    df = df[df["Department"]=="CSE"]
    print(df)
    # more data cleaning logic...
m

In [8]:
def clean_data(df):
    df = df.dropna()
    df = df.drop_duplicates()
    df = df[df["PM2.5"] > 0]
    df["PM2.5"] = df["PM2.5"].clip(upper=500)
    return df

In [ ]:

    df = df.dropna()
    df = df[df["PM2.5"] > 0]
    df["PM2.5"] = df["PM2.5"].clip(upper=500);;;